/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* цвет заголовков color: #2E2F42

цвет текста #434455

цвет фона #E5E5E5


*/

body {
  background-color: #E5E5E5;
}

p {
  color: #434455;
}